{%extends "learning_logs/base.html"%}

{%block header%}
<!-- jumbotron元素是一个大框 -->
<div class="jumbotron">
    <h1>Track your learning</h1>
</div>
{%endblock header%}

{%block content%}
<h2>
        Whenever you learn something new about a topic, make an entry 
    summarizing what you've learned. <a href="{%url 'users:register'%}">Register an account</a> 
    to make your own Learning Log, and list the topics you're learning about.
</h2>
<h2>
        Oh! You already have an account. <a href="{%url 'users:login'%}">Log in here!</a> 
</h2>
{%endblock content%}